<div class="section">
    <h2>Store</h2>
    <div *ngFor="let item of storeItems" class="item">
        <div *ngIf="item.quantity>0">
            <div class="col-sm-5">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Bouquet : {{item.name}}</h5>
                    <p class="card-text">Description : {{item.description}}</p>
                    <p class="card-text">Price : {{item.price}}</p>
                    <p class="card-text">Quantity : {{item.quantity}}</p>
                    <button (click)="buyItem(item)" class="btn btn-primary">Buy</button>
                  </div>
                </div>
              </div>
           
        </div>
    </div>
    user idd : {{userId}}
</div>
